<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jorge.tour_planner" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Plan it"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash_screen"
            android:label="Plan it"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Plan it"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity_list"
            android:label="Orlando"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".NewYork_Activities"
            android:label="New York"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LA_Activities"
            android:label="Los Angeles"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Tampa_activities"
            android:label="Tampa"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".LA_itenarary" >
        </activity>
        <activity
            android:name=".Tampa_ScrollingActivity"
            android:label="Tampa Itinerary"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".tabs_page"
            android:label="@string/title_activity_tabs_page"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Orlando_Scrolling"
            android:label="@string/title_activity_orlando__scrolling"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".La_Scrolling"
            android:label="@string/title_activity_la__scrolling"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
